.section {
  margin-top: 100px;
  padding: 15px;
}

.section_title {
  font-size: 10px; /* fixed */
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}

.section_subtitle {
  margin-bottom: 45px;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}

.about_description {
  color: rgba(0, 0, 0, 0.7); /* fixed */
  line-height: 1.8;
  margin-bottom: 40px;
}

.about_skills_box {
  margin-bottom: 50px;
  padding: 24px;
  border-bottom: 2px solid #2c98f0;
}

.about_skills_box > i {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
  color: blue;
  border-bottom: 2px solid blue;
}

.about_skills_box > h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* Different colors per skill */
.about_skills_box:nth-child(2) > i {
  color: red;
  border-bottom: 2px solid red;
}

.about_skills_box:nth-child(3) > i {
  color: green;
  border-bottom: 2px solid green;
}

.about_skills_box:nth-child(4) > i {
  color: purple;
  border-bottom: 2px solid purple;
}

/* Responsive layout */
@media screen and (min-width: 768px) {
  .about_skills {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .about_skills_box {
    flex: 1;
  }
}
