.section {
  margin-top: 100px;
  padding: 15px;
}

.section_title {
  font-style: 10px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}
.section_subtitle{
    margin-bottom: 45px;
    font-size: 18px;
    font-family: Playfair Display;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 45px;
    line-height: 1.8;
}
.skill{
  margin-bottom: 20px;

}
.skill>p{
  margin-bottom: 10px;
}
.skill_bg_box{
  background-color: #f2f3f7;
  border-radius: 8px;
}
.skill_percent_box{
  height: 6px;
  background: #2c98f0;
  width: 80%;
  border-radius: 6PX;
  color: #2c98f0;
  position: relative;
}
.skill_percent_box > span{
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}