#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 30px;
  background-color: #efefef;
  background-image: url("/image/rishav.jpeg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

#hero > h1 {
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display";
}
#hero > p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}
#hero > button {
  background-color: white;
  padding: 10px 15px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#hero > button > span {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#hero > button > i {
  font-size: 15px;
  margin-left: 5px;
}
