.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 50;
  transition: transform 500ms ease; /* better */
}

.sidebar_hamburger_translate {
  transform: translateX(300px);
}

/* Sidebar panel */
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  z-index: 20;
  transform: translateX(-300px);
  transition: transform 500ms ease;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}


.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0);
}
